.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

#chart-view .row:first-child {
    margin-bottom: -6px;
}

#chart-view .row:last-child {
    margin-top: 0;
    margin-bottom: 0;
}

.middle-word {
    text-align: center;
    margin-top: 6px;
}

.value.inactive {
    display: none;
}

.value.active {
    display: inline-block;
}

tr.blank {
    color: transparent;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 10px;
}

.xaxis path {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.xaxis line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}

.xaxis text {
    font-family: sans-serif;
    font-size: 10px;
    fill: white;
}