.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-group .radio {
    margin-bottom: 4px;
}

#chart-view .row:first-child {
    margin-bottom: -6px;
}

#chart-view .row:last-child {
    margin-top: 0;
    margin-bottom: 0;
}

.middle-word {
    text-align: center;
    margin-top: 6px;
}

.value.inactive {
    display: none;
}

.value.active {
    display: block;
}

.value {
    text-align: right;
}

span.value {
    width: 60px;
    margin-left: auto;
    margin-right: auto;
}

th:nth-last-child(-n + 2) {
    text-align: center;
}

tr td:nth-last-child(-n + 1) {
    text-align: end;
    padding-right: 70px !important;
}

.blank {
    color: transparent;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 10px;
}

.xaxis path {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.xaxis line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}

.xaxis text {
    font-family: sans-serif;
    font-size: 10px;
    fill: white;
}